html {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 50%, #ffffff 100%);
    font-family: "Fredoka One", cursive;
    height: 100vh;
    font-size: 10px;
}

body {
    margin: 0;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 20px;
}

h1, h2, p {
    color: black;
    text-align: center;
}

#opening {
    text-align: center;
}

#game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

button {
    padding: 50px;
    margin: 5px;
    background-color: #E0C3FC;
    color: black;
    border-radius: 5px;
    border: 1px solid black;
    font-family: inherit;
    font-size: 1.6rem;
}

#player-options button:hover {
    transform: scale(1.1);
    transition: 0.2s;
    cursor: pointer;
}

#player-options {
    grid-column: 1;
    justify-self: end;
}

#results {
    grid-column: 2;
    justify-self: center;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

#player-score {
    font-size: 1.6rem;
    justify-self: start;
}

#player-score p, #computer-score p {
    background-color: #E0C3FC;
    padding: 20px 25px;
    width: 20px;
    margin: 0;
    border: 1px solid black;
    border-radius: 5px;
}

#output p {
    font-size: 16px;
}

#computer-score {
    justify-self: end;
}

#computer-options {
    grid-column: 3;
    justify-self: start;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: #E8E3CC;
    border-radius: 0 5px 0 0;
    padding: 14px;
    font-size: 14px;
    text-align: center;
}

footer a {
    display: inline-block;
    text-decoration: none;
    color: #DB3F29;
}

footer a:hover {
    color: #0B1F65;
    transition: 0.4s;
}